// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: "Lucida Console", Times, serif;
}

body
{
    background-image: url("beautiful-island-with-a-sandy-beach-and-boat-blue-water-117-medium.jpg");
}
