<h1>Welcome to CAST AWAY!</h1>

<style>
.button {
  background-color: yellow; 
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}