<h1>Welcome to CAST AWAY!</h1>

<style>
.button {
  background-color: yellow; 
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}
</style>
    
    <button class="button button4"><%= link_to 'Log In'%></button>
    <br>
    <br>
    <button class="button button4"><%= link_to 'Create User', new_user_path %></button>
    <br>
    <br>
    <button class="button button4"><%= link_to 'How To' %></button>
    
    
    

    

