<h1>User Page</h1>
<style>
.button {
  background-color: yellow; 
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}
</style>
<tr>
<button class="button button4"><%= link_to "Join a poll" %></button>
<br>
<button class="button button4"><%= link_to "Create poll", new_poll_url %></button>
<br>
<button class="button button4"><%= link_to "View Created Polls", polls_path %></button>
<br><br><br>


<tr>
    <td>Username: </td>
    <br>
    <td>Polls Created: </td>
    <br>
    <td>Polls Voted: </td>
    <br>
    <td><%= link_to 'Update user info', edit_user_path(user_index_path) %></td>
</tr>