<p>
    <strong>Username:</strong>
    <%= @user.username %>
</p>

<p>
    <strong>Number of Polls created: </strong>
    <!--poll number reference here-->
</p>

<p>
    <strong>Number of voted polls</strong>
    <!-- voted poll numbers reference here-->
</p>