// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  
    color: green;
    font-size: 60px;

    color: yellow;
    font-size: 40px;

}

body
{
    background-image: url("beautiful-island-with-a-sandy-beach-and-boat-blue-water-117-medium.jpg");

    background-size: 1000px;

}