// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    color: yellow;
    font-size: 40px;
    
}

body
{
    background-image: url("IMG_7234.jpg");
    height: 500px;
}