// Place all the styles related to the Howto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



p.normal {
  font-style: normal;
}

h1 {
  font-size: 40px;
}

p.normal {
  font-weight: normal;
}

body {
  background-image: url("leto-ananas-cute-sand-sea-pliazh-happy-headphones-otdykh-sun.jpg");
}