// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
    
    color: yellow;
}

tr{
    color: white;
    font-size: 18px;
}

input[type = button], input[type = submit]{
    background-color: #4CAF50;
    float: none;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}