// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
    font-family: "Georgia", Times, serif;
    color: yellow;
    font-size: 14px;
}

h2{
    color: yellow;
    font-size: 16px;
}

p1{
    color: red;
    
    
}

